@import "compass";
/*! 
 *  Animal Emergency Services: Wordpress Template
 *  Author: Brian McCune, 2013
 *  License: MIT/GPLv2
 *  https://github.com/bmccune/aes
 *  http://www.aesvets.com/
*/

//Colors
    $green:     #778f24;
    $blue:      #285a80;
    $orange:    #df771c;
    $yellow:    #d5ae16;
    $greytxt:   #646566;
@import "utilities";
@import "global/stripedbar";
@import "global/header";
@import "global/affiliates";
@import "global/footer";
@import "global/gossip";
@import "global/blocks";


.aes-subpages{
    h1, h2{
        color:$orange;
        font-size:2em;
    }
    nav{
        ul{
            padding:0px;
            margin:0px;
            li{
                list-style:none;
                margin-bottom:10px;
                a{
                    color:$greytxt;
                    &.active{
                        color:$orange;
                        text-decoration:underline;
                    }
                    &:hover{
                        color:$orange;
                        text-decoration:underline;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 720) {
    .hide-sm{
        display:none;
    }
}