.aes-footer{
    padding:40px 0;
    ul{
        padding:0px;
        li{
            margin-top:2px;
            list-style: none;
            a{
                color:#FFF;
            }
        }
    }
    span{
        a{
            color:#FFF;
            text-decoration: underline;
        }
    }
}