<div class="aes-headerbar"></div>
            <div class="container">
            <div class="row" style="clear:both;max-width:1180px;margin:0 auto;">
                <div class="col-sm-12 show-mobile">
                    <div class="row">
                        <div class="col-xs-1">S</div>
                        <div class="col-xs-9"><!-- SPACER --></div>
                        <div class="col-xs-1">D</div>
                        <div class="col-xs-1">P</div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img class="aes-logo" src="img/logo.png" />
                    <div class="aes-tagline hide-mobile">"Compassionate 24-hour emergency &amp; specialty vet care for your best friend."</div>
     
                </div>
                <div class="aes-download col-sm-3">
                    <span class="aes-apptitle">Download Our Hospital App</span><br/>
                    <span class="aes-app">
                        <img src="img/apple_badge.png" />
                    </span>
                    <span class="aes-app">
                        <img src="img/android_badge.png" />
                    </span>
                </div>
                <div class="aes-header-utility col-sm-4">
                    
                    <div class="aes-phone-section hide-mobile">
                        <span class="aes-hours">Always Open</span>
                        <span class="aes-phone">425.827.8727</span>
                    </div>
                    <div class="aes-directions-section hide-mobile">
                        <span class="aes-directions">Directions</span>
                        <input class="aes-input" type="text" placeholder="Enter Your Address">
                        <input type="submit" id="searchsubmit" value="GO">
                    </div>
                    <div class="aes-search-section hide-mobile">
                        <span class="aes-directions">Search</span>
                        <input class="aes-input" type="text" placeholder="Enter your search term">
                        <input type="submit" id="searchsubmit" value="Find">
                    </div>
                </div>
            </div>
            <div class="row" style="clear:both;max-width:1180px;margin:0 auto;">
                <div class="col-sm-4 aes-address hide-sm">
                        Animal Emergency &amp; Specialty<br/>
                        12305 120th Avenue NE, Suite K | Kirkland, WA 98033
                </div>
                <nav class="col-sm-12 col-xs-12 col-md-12 col-lg-8">
                    <div class="show-mobile" style="float:right">NAV</div>
                    <ul class="nav navbar-nav hide-mobile">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">About AES <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Who We are</a></li>
                              <li><a href="#">Our Doctors</a></li>
                              <li><a href="#">Management</a></li>
                              <li><a href="#">Hospital Tour</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Surgery</a></li>
                              <li><a href="#">Emergency &amp; Critical Care</a></li>
                              <li><a href="#">Physical Therapy</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wilson's Corner <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">What is an Emergency?</a></li>
                              <li><a href="#">Seasonal Tips</a></li>
                              <li><a href="#">Toxin Lists</a></li>
                              <li><a href="#">Wilson Recommends</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Events</a></li>
                              <li><a href="#">News</a></li>
                              <li><a href="#">Media</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Pet Parents</a></li>
                              <li><a href="#">DVM's</a></li>
                            </ul>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </nav>
            </div>
            </div>